
CREATE TABLE $table.tableName
(
#foreach( $column in $table.columns )
#if(!${foreach.first})
 ,
#end
  $column.columnName $column.columnType $column.null#end
#if($table.primaryKeyString != "")
 ,
  PRIMARY KEY($table.primaryKeyString)#end
#foreach( $fk in $table.foreignKeys )
 ,
  FOREIGN KEY(${fk.columnName}) REFERENCES ${fk.foreignKeyTable}(${fk.foreignKeyColumn})#end

)
